/* Add this style to your BooksContainer.css file or directly in your component */

/* Container style */
.books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Book card style */
.book-card {
  width: 200px;
  height: 300px;
  position: relative;
}
.container {
  display: flex; /* Utilisation de Flexbox pour disposer les cartes horizontalement */
  flex-wrap: wrap; /* Permettre le retour à la ligne des cartes si nécessaire */
  gap: 20px; /* Espacement entre les cartes */
}

.card {
  /* Les styles des cartes restent inchangés */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 100%; /* Assurez-vous que toutes les cartes ont la même hauteur */
  flex: 1 0 300px; /* Largeur minimale et préférée de chaque carte */
  max-width: calc(50% - 20px); /* Ajustement pour les écrans plus petits, 2 cartes par ligne */
}

@media (max-width: 991px) {
  .card {
    max-width: calc(50% - 20px); /* 2 cartes par ligne sur des écrans moyens */
  }
}

@media (max-width: 767px) {
  .card {
    max-width: 100%; /* 1 carte par ligne sur des écrans petits */
  }
}

/* Book image style */
.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.3s ease; /* Smooth transition for the filter */
}

/* Book image style when out of stock */
.book-image.out-of-stock {
  filter: blur(3px); /* Apply blur effect when out of stock */
}

/* Book details overlay style */
.book-details-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

/* Book title style */
.book-title {
  margin: 0;
}

/* Pagination container style */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Book details modal style */
.book-details-modal {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Book details modal image style */
.book-details-modal-image {
  width: 30%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

/* Book details modal title style */
.book-details-modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Book details modal description style */
.book-details-modal-description {
  margin-bottom: 10px;
}

/* Book details modal buttons container style */
.book-details-modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Book details modal see more/see less button style */
.book-details-modal-toggle-button {
  text-decoration: underline;
  cursor: pointer;
}

/* Book details modal close button style */
.book-details-modal-close-button {
  margin-top: 10px;
}
